#countLA{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#container{
    text-align: center;

}
.buttons{
    padding: 7px 15px;
    font-size: 1.5cm;
    color: rgb(51, 82, 82);
    background-color: rgb(60, 217, 231);
    border-radius: 5px;
    cursor: pointer;
    transition: background-colour o.25s;
}
.buttons:hover{
    background-color: rgb(176, 239, 239);
}